doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    meta(name="keywords" content="web, demo, sha1, node-redis-queue")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
