body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #00f;
  font-size: 24pt;
  border-radius: 5px;
}
p.greeting {
  font: 18px "Arial", sans-serif;
}
a {
  color: #f00;
}
h1 {
  margin: 0;
  padding: 10px;
  background-color: #253440;
  color: #fff;
  border-bottom: 1px solid #263237;
}
form.urlinput {
  margin: 0;
  padding: 5px;
}
input {
  width: 80%;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}
button {
  background-color: #2e75b3;
  color: #fff;
  border: 1px solid #666;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px 10px;
}
.results {
  list-style-type: none;
  margin: 0;
  padding: 0 0px;
}
.results li {
  margin: 10px 0;
  padding: 0;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
